Repository voxpupuli/librarian-puppet, pull requests merged in 2021-04, with the labels that each got.

#80 Fix calling issue with open-uri
  lib/librarian/puppet/source/forge/repo.rb
  lib/librarian/puppet/source/forge/repo_v1.rb
  lib/librarian/puppet/source/githubtarball/repo.rb
Labels: bug

#81 release 3.0.1
  Changelog.md
  lib/librarian/puppet/version.rb
Labels: skip-changelog

#82 Drop Puppet 3/Puppet 4 and Ruby 2.0/2.1/2.2 testing
  .travis.yml
  librarian-puppet.gemspec
Labels: backwards-incompatible

#83 Add Ruby2.5/Puppet6 to CI matrix, disable email notifications on CI runs
  .travis.yml
Labels: enhancement

#84 Add Puppet 7 support
  .travis.yml
Labels: enhancement
